<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxz.rent.mapper.UmsMemberOpertionMapper">
  <resultMap id="BaseResultMap" type="com.xxz.rent.model.UmsMemberOpertion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
    <result column="operation_type" jdbcType="INTEGER" property="operationType" />
    <result column="operation_note" jdbcType="VARCHAR" property="operationNote" />
    <result column="operation_user" jdbcType="VARCHAR" property="operationUser" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, operation_time, operation_type, operation_note, operation_user, member_id
  </sql>
  <select id="selectByExample" parameterType="com.xxz.rent.model.UmsMemberOpertionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_member_opertion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_member_opertion
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_member_opertion
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xxz.rent.model.UmsMemberOpertionExample">
    delete from ums_member_opertion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xxz.rent.model.UmsMemberOpertion">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_opertion (operation_time, operation_type, operation_note, 
      operation_user, member_id)
    values (#{operationTime,jdbcType=TIMESTAMP}, #{operationType,jdbcType=INTEGER}, #{operationNote,jdbcType=VARCHAR}, 
      #{operationUser,jdbcType=VARCHAR}, #{memberId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xxz.rent.model.UmsMemberOpertion">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_opertion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
      <if test="operationNote != null">
        operation_note,
      </if>
      <if test="operationUser != null">
        operation_user,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=INTEGER},
      </if>
      <if test="operationNote != null">
        #{operationNote,jdbcType=VARCHAR},
      </if>
      <if test="operationUser != null">
        #{operationUser,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xxz.rent.model.UmsMemberOpertionExample" resultType="java.lang.Long">
    select count(*) from ums_member_opertion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_member_opertion
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.operationTime != null">
        operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operationType != null">
        operation_type = #{record.operationType,jdbcType=INTEGER},
      </if>
      <if test="record.operationNote != null">
        operation_note = #{record.operationNote,jdbcType=VARCHAR},
      </if>
      <if test="record.operationUser != null">
        operation_user = #{record.operationUser,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_member_opertion
    set id = #{record.id,jdbcType=BIGINT},
      operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      operation_type = #{record.operationType,jdbcType=INTEGER},
      operation_note = #{record.operationNote,jdbcType=VARCHAR},
      operation_user = #{record.operationUser,jdbcType=VARCHAR},
      member_id = #{record.memberId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxz.rent.model.UmsMemberOpertion">
    update ums_member_opertion
    <set>
      <if test="operationTime != null">
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=INTEGER},
      </if>
      <if test="operationNote != null">
        operation_note = #{operationNote,jdbcType=VARCHAR},
      </if>
      <if test="operationUser != null">
        operation_user = #{operationUser,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxz.rent.model.UmsMemberOpertion">
    update ums_member_opertion
    set operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_type = #{operationType,jdbcType=INTEGER},
      operation_note = #{operationNote,jdbcType=VARCHAR},
      operation_user = #{operationUser,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>